  <!-- Calvin Gott, Dropdown menu, takes a user to show page, and then allows them to update username and blurd-->
<head>
    <title>User Customization</title>
  
  </head>
<h1>Welcome <%=@user.name%></h1> 








