 <h1><%= @wishlist.name%> | Wishlist</h1>

<br>
<br>


<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Item</th>
      <th>Size</th>
      <th>Price</th>
      
    </tr>
  </thead>

  <tbody>

        <td></td>
        <td></td>
        <td></td>
    
  </tbody>
</table>


